:root {
  // navBar
  --van-nav-bar-background: #0380c8;
  --van-nav-bar-icon-color: #fff;
  --van-nav-bar-title-text-color: #fff;
  --van-nav-bar-text-color: #fff;
  --van-cell-line-height: 56px; // cell line-height高度
}
